@page "/"
@using KeizerPairing.Shared.Components

<MudMainContent Class="mudblazor-main-content">
    <MudContainer Class="mudblazor-index">
        <div for="Section One" class="docs-sections">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-center">
                        <KeizerLogo />
                    </div>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <MudText Align="Align.Center" Typo="Typo.h5" Class="mudblazor-text-h5 mt-4">Keizer Tournament Manager</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5" Class="mudblazor-text-h5 smaller">For faster and easier tournament pairings </MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <MudText Align="Align.Center" Class="mudblazor-description-text">
                        Keizer Tournament Manager is the perfect tool for who want to rapidly create chess tournaments using the Keizer System without having to struggle with softwares and settings.
                    </MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="/create" Class="docs-mud-button get-started">Get Started</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Target="_blank" Link="https://www.PayPal.Me/keizermanager" Class="docs-mud-button sponsor d-none d-sm-flex">Sponsor</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="/about" Class="docs-mud-button github">About</MudButton>
                    </div>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Target="_blank" Link="https://www.PayPal.Me/keizermanager" Class="docs-mud-button sponsor d-flex d-sm-none mt-4 mx-auto">Sponsor</MudButton>
                </MudItem>
            </MudGrid>
        </div>

    </MudContainer>
</MudMainContent>