<MudMainContent Class="mudblazor-main-content">
    <MudContainer Class="mudblazor-index">
        <div for="Section One" class="docs-sections">
            <MudGrid>
                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-center">
                        <KeizerLogo />
                    </div>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <MudText Align="Align.Center" Typo="Typo.h5" Class="mudblazor-text-h5 mt-4">4 0 4</MudText>
                    <MudText Align="Align.Center" Typo="Typo.h5" Class="mudblazor-text-h5 smaller">Our princess is in another castle! </MudText>
                </MudItem>
                <MudItem xs="12" sm="12" md="12">
                    <div class="d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" Link="/" Class="docs-mud-button get-started">Home</MudButton>
                    </div>
                </MudItem>
            </MudGrid>
        </div>

    </MudContainer>
</MudMainContent>